@layout('layouts/app')

@section('content')
<div class="flex justify-center">
  <div class="m-auto text-center">
    <h1 class="text-xl font-semibold">Esta página não está disponível.</h1>
    <p class="text-gray-600 text-sm mt-6">
      O link em que você clicou pode não estar funcionando, ou a página pode ter
      sido removida. <a href="/signup" class="link">Voltar para o Instagram.</a>
    </p>
  </div>
</div>
@endsection